.*.log
.*.out
.*.idea
.*.vs
.*cmake-build*
*.toc
*.gz
*.out
*.log
*.cmake
*.bin
Programming/cmake-*
HestonModelSwift.aux
HestonModelSwift.bbl
HestonModelSwift.blg
HestonModelSwift.log
HestonModelSwift.out
HestonModelSwift.pdf
HestonModelSwift.synctex.gz
HestonModelSwift.synctex.gz
