.*.log
.*.out
.*.idea
.*.vs
.*cmake-build*
*.toc
*.gz
*.out
*.log
*.cmake
*.bin
Programming/cmake-build-debug/CMakeCache.txt
Programming/cmake-build-debug/CMakeFiles/3.16.5/CompilerIdC/a.exe
Programming/cmake-build-debug/CMakeFiles/3.16.5/CompilerIdC/CMakeCCompilerId.c
Programming/cmake-build-debug/CMakeFiles/3.16.5/CompilerIdCXX/a.exe
Programming/cmake-build-debug/CMakeFiles/3.16.5/CompilerIdCXX/CMakeCXXCompilerId.cpp
Programming/cmake-build-debug/CMakeFiles/clion-environment.txt
Programming/cmake-build-debug/CMakeFiles/clion-log.txt
Programming/cmake-build-debug/CMakeFiles/cmake.check_cache
HestonModelSwift.aux
HestonModelSwift.bbl
HestonModelSwift.blg
HestonModelSwift.log
HestonModelSwift.out
HestonModelSwift.pdf
HestonModelSwift.synctex.gz
HestonModelSwift.synctex.gz
